<button class="button" mat-mini-fab color="primary" [matMenuTriggerFor]="menu" matBadge="2"><mat-icon aria-label="Example icon-button with a heart icon">notification_important</mat-icon></button>
<mat-menu #menu="matMenu">
  <div class="item">
    <mat-icon aria-label="item 1">notification_important</mat-icon>
    Esta es la notificacion 1
    <br>
    Fecha 12/12/2012
  </div>
  <div class="item">
    <mat-icon aria-label="item 2">notification_important</mat-icon>
    Esta es la notificacion 2
    <br>
    Fecha 12/12/2012
  </div>
</mat-menu>